html {
    /* background-color: #f4ccccea; */

    /* #efc1c1ff = the top |  #f4ccccea = background |  #c27ba0ff = the dark pink
    #d5a6bdff = where to subscribe on the bottom*/
}

.topSection {
    border: 1px solid;
    margin: 0%;
    padding: 0%;
    background-color: #f4ccccea;
    height: 120px;
}

.largeText {
    display: flex;
    justify-content:center;
    align-items: center;
    /* text-align: center; */
    padding-top: 7px;
    color: #c27ba0ff;
    transition-property: all;
    transition-duration: 5s;
}

.largeText:hover {
    color: #955275;
    font-size: 70px;
}

.navBar {
    border: .1px solid;
    /* border-radius: 25px; */
    /* text-align: center; */
    /* width: 75%; */
    /* align-items: center; */
    /* margin: 0% 10%; */
    display: flex;
    justify-content: space-around;
    padding: .6% 6% .6% 0%;
    background-color: #c27ba0ff;
}

.navText {
    color: #f4ccccea;
    text-decoration: none;
}


#subscribe {
    text-align: center;
    font-weight: bold;
    padding: 0%;
    color: #c27ba0ff;
}

.centerText{
    margin-left: 35%;
}

.marSpa {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 10;
}

#subscribe2 {
    margin-left: 2%;
}

.bottomBack {
    border: 1px solid;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #f4ccccea;
}

/*  above needs to be in all css style sheet */
/* ------------------------------------------------------------------------ */

/* About me */
#gifSize {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-left: 35%;
    margin-right: 35%; */
    

}

.currentRead {
    text-align: center;
    padding-top: 40px;
    color: #c27ba0ff;
    margin-bottom: 0%;
}

.textStyle {
    /* font-family: Arial; */
    font-weight: lighter;
    margin: 5% 10% 5% 10%;
}
