.topSection {
    border: 1px none;
    margin: 0%;
    padding: 0%;
    background-color: #f4ccccea;
    height: 120px;
}

.largeText {
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 7px;
    color: #c27ba0ff;
    transition-property: all;
    transition-duration: 5s;
}

.largeText:hover {
    color: #955275;
    font-size: 70px;
}

.navBar {
    border: .1px none;
    display: flex;
    justify-content: space-around;
    padding: .6% 6% .6% 0%;
    background-color: #c27ba0ff;
}

.navText {
    color: #f4ccccea;
    text-decoration: none;
}

/* __________Bottom of page____________ */
#subscribe {
    text-align: center;
    font-weight: bold;
    padding: 0%;
    color: #c27ba0ff;
}

.centerText{
    margin-left: 35%;
}

.marSpa {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 10;
}

#subscribe2 {
    margin-left: 2%;
    border: 1px none;
    background-color: #c27ba0ff;
    height: 40px;
}

.bottomBack {
    border: 1px none;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #f4ccccea;
}

.buttonColor {
    background-color: #f4ccccea;
}

/*  above needs to be in all css style sheet */
/* ------------------------------------------------------------------------ */


/* _________________Image corners______________ */
img {
    border-radius: 5px;
    margin-bottom: 10px;
  }



/* ______________Review______________________ */
.textUnder {
font-weight: 100;
font-size: medium;
text-align: center;
}

/* -------------review image 1st one-------------- */
#box{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    transition: all 3s ease-in;
    position: relative;
    padding-top: 10%;
   
   }

#box:hover {
    transform: translatex(500px);
}

p {
    width: "10%"
}
/* -------------review text 1st one--------------  */
#hiddenB {

    position:absolute;
    margin-left:42%;
    top:450px;
    /* bring item back */
    z-index:-1; 
    max-width: 300px; 
    max-height: 500px;
}


#title1 {
    color: #c27ba0ff;
    text-align: center;
}

/* for both title books */
.textBox3 {
    border: 1px none;
    
}


/* -------------review image 2nd one-------------- */
#box2 {
height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    transition: all 3s ease-in;
    position: relative;
    padding-top: 10%;
}

#box2:hover {
    transform: translatex(-500px);
}

/* -------------review text 2nd one--------------  */
#hiddenB2 {
    position:absolute;
    margin-left:42%;
    top:1200px;
    /* bring item back */
    z-index:-1; 
    max-width: 300px; 
    max-height: 500px;
}


#title2 {
    color: #c27ba0ff;
    text-align: center;
}

/* -------------review image 3rd one-------------- */
#box3{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    transition: all 3s ease-in;
    position: relative;
    padding-top: 10%;
   
   }

#box3:hover {
    transform: translatex(500px);
}

p {
    width: "10%"
}

/* -------------review text 3rd one--------------  */
#hiddenB3 {

    position:absolute;
    margin-left:42%;
    top:1850px;
    /* bring item back */
    z-index:-1; 
    max-width: 300px; 
    max-height: 500px;
}


#title3 {
    color: #c27ba0ff;
    text-align: center;
}


/* ____________________________comments____________________________ */
.commentSection{
    margin: 10% 0% 10% 35%;
    justify-content: center;
    align-items: center;
}

#commentBox{
    width: 500px;
    height: 200px;
    text-align: left top;
}

#subButton {
    background-color: #c27ba0ff;
    border: 1px;
    height: 30px;
}
