html {
    /* background-color: #f4ccccea; */

    /* #efc1c1ff = the top |  #f4ccccea = background |  #c27ba0ff = the dark pink
    #d5a6bdff = where to subscribe on the bottom*/
}

.topSection {
    border: 1px solid;
    margin: 0%;
    padding: 0%;
    background-color: #f4ccccea;
    height: 120px;
}

.largeText {
    display: flex;
    justify-content:center;
    align-items: center;
    /* text-align: center; */
    padding-top: 7px;
    color: #c27ba0ff;
}

.navBar {
    border: .1px solid;
    /* border-radius: 25px; */
    /* text-align: center; */
    /* width: 75%; */
    /* align-items: center; */
    /* margin: 0% 10%; */
    display: flex;
    justify-content: space-around;
    padding: .6% 6% .6% 0%;
    background-color: #c27ba0ff;
}

.navText {
    color: #f4ccccea;
    text-decoration: none;
}


#subscribe {
    text-align: center;
    font-weight: bold;
    padding: 0%;
    color: #c27ba0ff;
}

.centerText{
    margin-left: 35%;
}

.marSpa {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 10;
}

#subscribe2 {
    margin-left: 2%;
}

.bottomBack {
    border: 1px solid;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #f4ccccea;
}
/*  above needs to be in all css style sheet */
/* ------------------------------------------------------------------------ */

/* center text */
.currentRead {
    text-align: center;
    padding-top: 40px;
    color: #c27ba0ff;
}

.textStyle {
    /* font-family: Arial; */
    font-weight: lighter;
}

#buttonColor {
    color: #c27ba0ff;
}

.button {
    background-color: rgb(170, 63, 119);;
}

/* ------------------------------------------------------------------------ */

/* currently reading info */
.table1 {
    border: .1px solid;
    margin: 10% 10% 0% 10%;
}

#indexImg {
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding: 0px 15px 0px 0px;
    /* width: 25%; */

}

#indexPara {
    /* display: flex;
    flex-wrap: wrap;
    width: 70%; */
}

/* #textBox1 {
    border: 1px solid;
}

#textBox2 {
    border: 1px solid;
}
.container1 {
    overflow-x: hidden;
}

.readMore {
    height: 120px;
    overflow: hidden;
    position: relative;
}

button {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    border: none;
    background-color: transparent;
    font-weight: bolder;
}

button::after {
    position: absolute;
    content: "";
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 80px;
    background: linear-gradient(180deg #ffffffa1, #fff, #fff);
} */

/* ------------------------------------------------------------------------ */

/* carousel */
.size {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
    margin-left: 35%;
}

/* $carousel-control-icon-width: 2rem; */
/* ------------------------------------------------------------------------ */

/* Goodread review */
#goodRead {
    border: 1px solid;
    margin: 0% 10% 10% 10%;
    padding-top: 20px;
}
