.topSection {
    border: 1px none;
    margin: 0%;
    padding: 0%;
    background-color: #f4ccccea;
    height: 120px;
}

.largeText {
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 7px;
    color: #c27ba0ff;
    transition-property: all;
    transition-duration: 5s;
}

.largeText:hover {
    color: #955275;
    font-size: 70px;
}

.navBar {
    border: .1px none;
    display: flex;
    justify-content: space-around;
    padding: .6% 6% .6% 0%;
    background-color: #c27ba0ff;
}

.navText {
    color: #f4ccccea;
    text-decoration: none;
}

/* __________Bottom of page____________ */
#subscribe {
    text-align: center;
    font-weight: bold;
    padding: 0%;
    color: #c27ba0ff;
}

.centerText{
    margin-left: 35%;
}

.marSpa {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 10;
}

#subscribe2 {
    margin-left: 2%;
    border: 1px none;
    background-color: #c27ba0ff;
    height: 40px;
}


.bottomBack {
    border: 1px none;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #f4ccccea;
}

.buttonColor {
    background-color: #f4ccccea;
}

/*  above needs to be in all css style sheet */
/* ------------------------------------------------------------------------ */

/* _________________Image corners______________ */
img {
    border-radius: 5px;
    margin-bottom: 10px;
  }


/* ____________________________center texts____________________ */
.currentRead {
    text-align: center;
    padding-top: 40px;
    color: #c27ba0ff;
}

.textStyle {
    font-weight: 100;
}

#buttonColor {
    color: #c27ba0ff;
}

.button {
    background-color: rgb(170, 63, 119);;
}

/* ------------------------------------------------------------------------ */

/* _________________currently reading info_____________________________ */
.table1 {
    border: .1px none;
    margin: 10% 10% 0% 10%;
}

#indexImg {
    padding: 0px 15px 0px 0px;
}

#indexImg img:hover {
    zoom: 2;
}

/* ------------------------------------------------------------------------ */

/* ________________________carousel________________________ */
.size {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
    margin-left: 35%;
}
/* ------------------------------------------------------------------------ */

/* _________________________Goodread review__________________ */
#goodRead {
    margin: 0% 10% 0% 10%;
}

#goodRead2 {
    margin: 0% 10% 10% 10%;
}

.reviewTitle {
color: #f4ccccea;
}