.topSection {
    border: 1px none;
    margin: 0%;
    padding: 0%;
    background-color: #f4ccccea;
    height: 120px;
}

.largeText {
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 7px;
    color: #c27ba0ff;
    transition-property: all;
    transition-duration: 5s;
}

.largeText:hover {
    color: #955275;
    font-size: 70px;
}

.navBar {
    border: .1px none;
    display: flex;
    justify-content: space-around;
    padding: .6% 6% .6% 0%;
    background-color: #c27ba0ff;
}

.navText {
    color: #f4ccccea;
    text-decoration: none;
}

/* __________Bottom of page____________ */
#subscribe {
    text-align: center;
    font-weight: bold;
    padding: 0%;
    color: #c27ba0ff;
}

.centerText{
    margin-left: 35%;
}

.marSpa {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 10;
}

#subscribe2 {
    margin-left: 2%;
    border: 1px none;
    background-color: #c27ba0ff;
    height: 40px;
}

.bottomBack {
    border: 1px none;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #f4ccccea;
}

.buttonColor {
    background-color: #f4ccccea;
}
/*  above needs to be in all css style sheet */
/* ------------------------------------------------------------------------ */


/* ______________cards______________ */
.allCards{
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 2%;
    padding: 30px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 25vh;
  }
  
  .card:hover {
    box-shadow: 0 16px 32px 0 #00000033;
  }

  img {
    border-radius: 5px;
    margin-bottom: 10px;
  }

.textTop{
    text-align: center;
}

  .textUnder{
    font-weight: 100;
    font-size: small;
    text-align: center;
  }